.stats-container {
  background-color: var(--light);
  display: flex;
}

.stats-body {
  width: 100%;
  h1 {
    text-align: center;
    color: var(--dark);
    font-size: 2em;
    margin-inline: auto;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5em;
    text-align: center;
  }
}
