.stats-container {
  background-color: #222222;
  display: flex;
}

.stats-body {
  width: 100%;
  h1 {
    text-align: center;
    color: var(--light);
    font-size: 3em;
    margin-inline: auto;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    text-align: center;
  }
}

.stats-main {
  display: flex;
  background-color: #424242;
  border-radius: 10px;
  margin-top: 2em;
}
