.stats-nav {
  width: 20em;
  height: 100vh;
  background: url("https://res.cloudinary.com/du0p96v5o/image/upload/a_90/v1698709875/nav-bg_jnci1p.webp");
  background-size: cover;
}

.stats-btn-text {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin-left: 1.75em;
  margin-bottom: 0.25em;
  align-items: center;
  height: 3em;
  padding-left: 0.5em;
  font-size: 1em;
  transition: 0.2s;

  &:hover {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
  }

  .icon-text {
    height: 100%;
    display: flex;
    align-items: center;
  }
}

.stats-chevron {
  color: white;
  font-size: 2em;
  margin-right: 0.3em;
}

.stats-menu-text {
  margin: 1em;
  font-size: 1.5em;
  color: var(--light);
}

.stats-icon {
  color: var(--light);
}

.stats-nav-btn {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  box-sizing: border-box;
  transition: 0.2s;
  height: fit-content;
  font-weight: var(--ft-b);

  .stats-nav-item,
  .ind-stats-span {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .stats-nav-item {
    padding: 0.5em 0.75em 0.5em 1em;
    border-radius: 5px;
    color: var(--light);
    font-size: 1.25em;
    transition: 0.2s;
    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
      color: white;
    }
  }

  .ind-stats-chevron {
    font-size: 1.5em;
    margin-left: 0.5em;
  }

  .stats-drop-down {
    margin-left: 2.75em;
    border-left: 1px solid var(--light);
    width: 55%;
    padding-left: 1em;
    z-index: 1000;
    transition: 0.2s;

    li {
      margin: 0.25em;
      width: 100px;
    }
  }

  .ind-stats-dropdown {
    width: 100%;
    margin-left: 1em;
    li {
      width: 70px;
    }
  }

  p {
    text-decoration: none;
    color: var(--light);
    font-size: 1.25em;

    margin-left: 0.75em;
  }
}
