.cash-component-container {
  width: 90%;
  margin: 2em auto;

  .cash-games-table {
    background-color: var(--light);
    padding: 0.5em;
    // box-shadow: 0px 1px 9px 3px rgba(0, 0, 0, 0.37);
    // -webkit-box-shadow: 0px 1px 9px 3px rgba(0, 0, 0, 0.37);
    // -moz-box-shadow: 0px 1px 9px 3px rgba(0, 0, 0, 0.37);
  }

  .bold {
    font-weight: var(--ft-b);
  }

  .cash-white {
    color: var(--dark);
    font-size: 1.15em;
    // font-style: italic;
  }
  .cash-negative {
    color: rgb(182, 0, 0);
    font-size: 1.15em;
  }

  .cash-positive {
    color: rgb(0, 117, 0);
    font-size: 1.15em;
  }
}
